# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env
.env.*

# OS-specific
.DS_Store
Thumbs.db

# Uvicorn log files
*.log

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test cache
.pytest_cache/
